:root {
  /* HIGHLIGHT */
  --green: #096;
  --yellow-100: #ffbf00;
  --yellow-110: #cc9900;

  /* BASE */
  --base-60: #666;
  --base-20: #999;
  --base-0: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* GENERAL STYLES */
strong {
  color: var(--green);
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-block-start: 0;
  margin-block-end: 1rem;
}

.title {
  font-size: 2rem;
  line-height: 1.2;
  margin-block-end: 48px;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

/* HEADER */
.intro-chunk {
  margin-block-start: 96px;
  margin-block-end: 64px;
  padding-inline: 32px;
  max-width: 480px;
}

/* CONTENT */
main {
  background-color: var(--base-60);
  border-top: solid 8px var(--base-20);
  padding-block-start: 72px;
  padding-block-end: 64px;
}

.card {
  background-color: var(--base-0);
  padding-block-start: 8px;
  padding-block-end: 24px;
  padding-inline: 24px;
  border-bottom: 8px solid var(--base-20);
}

.indented-heading {
  background-color: var(--yellow-100);
  border-bottom: solid 8px var(--yellow-110);
  padding-inline: 32px;
  padding-block: 16px;
  width: fit-content;
  margin-left: -32px;
  margin-block-start: 0;
}

p:last-child {
  margin-block-end: 0;
}
